[diff]
   tool = bcomp
[difftool]
   prompt = false
[difftool "bcomp"]
   #use cygpath to transform cygwin path $LOCAL (something like /tmp/U5VvP1_abc) to windows path, because bcomp is a windows software
   cmd = \"c:/Program Files (x86)/Beyond Compare 4/BComp.exe\" "$(cygpath -w $LOCAL)" "$REMOTE"
[merge]
   tool = bcomp
[mergetool "bcomp"]
   trustExitCode = true
   cmd = \"c:/Program Files (x86)/Beyond Compare 4/BComp.exe\" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[core]
   autocrlf = true
   # For the vim handicapped
   # editor = npp.sh
   editor = vim

[color]
   branch = auto
   diff = auto
   status = auto
   ui = auto
[color "branch"]
   current = yellow reverse
   local = yellow 
   remote = green
[color "diff"]
   meta = yellow bold
   frag = magenta bold
   old = red bold
   new = green bold
[color "status"]
   added = yellow
   changed = green
   untracked = cyan
[user]
	name = Jeff Ward
	email = j.ward@techsmith.com

[credential]
	helper = cache --timeout=3600

[help]
   autocorrect = 1

[alias]
	st = status --ignore-submodules
	br = branch
	ci = commit
	co = checkout
   ch = cherry origin -v --abbrev=7
	c-p = cherry-pick
	di = diff
	dt = difftool
	mt = mergetool
   l = log --graph --pretty=format:'%C(white)%h%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset'
   rp = remote prune origin
   chmod = update-index --chmod=+x
	da = !sh ~/bin/diffall.sh
   dtree = diff-tree --no-commit-id --name-status -r 
   ahead = log --oneline origin..head
   behind = log --oneline head..origin
   mergepr = !git push origin origin/`git rev-parse --abbrev-ref HEAD`:master
	permission-reset = "!git diff -p | grep -E \"^(diff|old mode|new mode)\" | sed -e \"s/^old/NEW/;s/^new/old/;s/^NEW/new/\" | git apply"

[push]
	default = nothing
[rerere]
	enabled = true
